In [ ]:
'''
[file lists]

1. Data collection
- seoul_starbucks.xlsx  : 스타벅스 정보(크롤링)
- seoul_sgg_list.xlsx   : 서울시 시군구 정보(공공데이터)
- report.txt            : 시군구별 인구수 현황(공공데이터)
- report1.txt           : 시군구별 사업체 현황(공공데이터)

2. Data processing
- sgg_pop.xlsx          : 시군구별 인구수 현황(가공)
- sgg_biz.xlsx          : 시군구별 사업체 현황(가공)
'''

## 01. 데이터 전처리

#### 01-1. 시군구명, 시군구코드에 서울시 스타벅스 매장 목록, 인구, 사업체 데이터를 추가

In [12]:
# 서울시 스타벅스 매장 목록이 담긴 파일 불러오기
import pandas as pd

seoul_starbucks = pd.read_excel('./files/seoul_starbucks.xlsx', header=0)
seoul_starbucks.head()

,매장명,위도,경도,매장타입,주소,전화번호
0,역삼아레나빌딩,37.501087,127.043069,pin_general,서울특별시 강남구 언주로 425 (역삼동),1522-3232
1,논현역사거리,37.510178,127.022223,pin_general,서울특별시 강남구 강남대로 538 (논현동),1522-3232
2,신사역성일빌딩,37.513931,127.020606,pin_general,서울특별시 강남구 강남대로 584 (논현동),1522-3232
3,국기원사거리,37.499517,127.031495,pin_general,서울특별시 강남구 테헤란로 125 (역삼동),1522-3232
4,대치재경빌딩R,37.494668,127.062583,pin_reserve,서울특별시 강남구 남부순환로 2947 (대치동),1522-3232

In [13]:
# 스타벅스 주소 정보에서 시군구명 추출
sgg_names = []
for address in seoul_starbucks['주소']:
    sgg = address.split()[1]
    sgg_names.append(sgg)
seoul_starbucks['시군구명'] = sgg_names
seoul_starbucks.head()

,매장명,위도,경도,매장타입,주소,전화번호,시군구명
0,역삼아레나빌딩,37.501087,127.043069,pin_general,서울특별시 강남구 언주로 425 (역삼동),1522-3232,강남구
1,논현역사거리,37.510178,127.022223,pin_general,서울특별시 강남구 강남대로 538 (논현동),1522-3232,강남구
2,신사역성일빌딩,37.513931,127.020606,pin_general,서울특별시 강남구 강남대로 584 (논현동),1522-3232,강남구
3,국기원사거리,37.499517,127.031495,pin_general,서울특별시 강남구 테헤란로 125 (역삼동),1522-3232,강남구
4,대치재경빌딩R,37.494668,127.062583,pin_reserve,서울특별시 강남구 남부순환로 2947 (대치동),1522-3232,강남구

In [14]:
seoul_starbucks.to_excel('./files/seoul_starbucks_list.xlsx', index=False)

### 01-2. 스타벅스 분석 데이터 만들기
* 시군구 목록 데이터 + 시군구별 스타벅스 매장 수, 주민인구 수, 사업체 수

In [15]:
import pandas as pd

# 시군구 목록 데이터 불러오기
seoul_sgg = pd.read_excel('./files/seoul_sgg_list.xlsx')
seoul_sgg.head()

   시군구코드  시군구명         위도          경도
0  11320   도봉구  37.665861  127.031767
1  11380   은평구  37.617612  126.922700
2  11230  동대문구  37.583801  127.050700
3  11590   동작구  37.496504  126.944307
4  11545   금천구  37.460097  126.900155

In [16]:
# 스타벅스 매장 목록 데이터 불러오기
seoul_starbucks = pd.read_excel('./files/seoul_starbucks_list.xlsx')
seoul_starbucks.head()

,매장명,위도,경도,매장타입,주소,전화번호,시군구명
0,역삼아레나빌딩,37.501087,127.043069,pin_general,서울특별시 강남구 언주로 425 (역삼동),1522-3232,강남구
1,논현역사거리,37.510178,127.022223,pin_general,서울특별시 강남구 강남대로 538 (논현동),1522-3232,강남구
2,신사역성일빌딩,37.513931,127.020606,pin_general,서울특별시 강남구 강남대로 584 (논현동),1522-3232,강남구
3,국기원사거리,37.499517,127.031495,pin_general,서울특별시 강남구 테헤란로 125 (역삼동),1522-3232,강남구
4,대치재경빌딩R,37.494668,127.062583,pin_reserve,서울특별시 강남구 남부순환로 2947 (대치동),1522-3232,강남구

In [17]:
seoul_starbucks.tail()

,매장명,위도,경도,매장타입,주소,전화번호,시군구명
604,사가정역,37.579594,127.087966,pin_general,서울특별시 중랑구 면목로 310,1522-3232,중랑구
605,상봉역,37.596890,127.086470,pin_general,서울특별시 중랑구 망우로 307 (상봉동),1522-3232,중랑구
606,묵동,37.615368,127.076633,pin_general,"서울특별시 중랑구 동일로 952 (묵동, 로프트원 태릉입구역) 1층",1522-3232,중랑구
607,양원역,37.606654,127.106360,pin_general,서울특별시 중랑구 양원역로10길 3 (망우동),1522-3232,중랑구
608,중화역,37.601709,127.078411,pin_general,서울특별시 중랑구 봉화산로 35,1522-3232,중랑구

In [18]:
# 시군구별 스타벅스 매장 수 세기
starbucks_sgg_count = seoul_starbucks.pivot_table(
                                                index = '시군구명', 
                                                values='매장명', 
                                                aggfunc='count'
                                                ).rename(columns={'매장명':'스타벅스_매장수'})
starbucks_sgg_count.head()

      스타벅스_매장수
시군구명
강남구         90
강동구         17
강북구          6
강서구         27
관악구         12

In [19]:
#  서울시 시군구 목록 데이터에 스타벅스 매장 수 데이터를 병합
seoul_sgg = pd.merge(seoul_sgg, starbucks_sgg_count, how='left', on='시군구명')
seoul_sgg.head()

   시군구코드  시군구명         위도          경도  스타벅스_매장수
0  11320   도봉구  37.665861  127.031767         6
1  11380   은평구  37.617612  126.922700        14
2  11230  동대문구  37.583801  127.050700        10
3  11590   동작구  37.496504  126.944307        11
4  11545   금천구  37.460097  126.900155        13

In [20]:
# 서울시 시군구별 인구통계 데이터 불러오기
seoul_sgg_pop = pd.read_excel('./files/sgg_pop.xlsx')
seoul_sgg_pop

    시군구명  주민등록인구
0    종로구  152212
1     중구  131390
2    용산구  232482
3    성동구  287240
4    광진구  350925
5   동대문구  354884
6    중랑구  389928
7    성북구  441855
8    강북구  296934
9    도봉구  312858
10   노원구  506989
11   은평구  468766
12  서대문구  321966
13   마포구  376542
14   양천구  442345
15   강서구  573711
16   구로구  417983
17   금천구  242467
18  영등포구  398999
19   동작구  390377
20   관악구  502628
21   서초구  408979
22   강남구  537817
23   송파구  663704
24   강동구  464027